<div id="body">
    <section class="featured">
        <div class="content-wrapper">
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <input type="button" value="Schedule Task"/>
    </section>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            alert('moo');
        });
    </script>
}