<div id="body">
    <section class="featured">
        <div class="content-wrapper">
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <input type="button" value="Schedule Task" id="scheduleTaskButton"/>
    </section>
</div>
<div id="scheduleTask">
    <form id="scheduleTaskForm">
        <label>Name:</label>
        <input type="text" id="taskName"/>
    </form>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#scheduleTask").dialog();
            $("#scheduleTaskButton").click(function() {
                
            });
        });
    </script>
}