@{
    ViewBag.Title = "Home Page";
}

<div class="row">
  <table>
    <tr>
      <td>
        @Html.ActionLink("My Tasks", "Index", "Task")
      </td>
    </tr>
    
    <tr>
      <td>
        <a href="#">Team Tasks</a>
      </td>
    </tr>
    
    <tr>
      <td>
        <a href="#">Overdue Tasks</a>
      </td>
    </tr>
    
    <tr>
      <td>
        <a href="#">Tasks By Status</a>
      </td>
    </tr>
  </table>
</div>