@using TaskFlamingo.UI.Models
@model IEnumerable<TaskListItem>



<h2>My Tasks </h2>
<table class="table">
  <th>Name</th>
  <th>Due Date</th>
  <th>Status</th>
  @foreach (var task in Model)
  {
    <tr>
      <td>@task.Name</td>
      <td>@task.DueDate</td>
      <td>@task.StatusText</td>
    </tr>
  }
</table>
